<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset='utf-8'>
        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    </head>
    <title>수강 신청</title>
    <body>

    <div class="container">
        <h1><%= title %></h1>
            <table class="table table-hover">
            <thread>
                <tr>
                    <th>학정번호</th>
                    <th>과목명</th>
                    <th>구분</th>
                    <th>교수</th>
                    <th>학점</th>
                    <th>강의장소</th>
                    <th>강의시간1</th>
                    <th>강의시간2</th>
                    <th>강의시간3</th>
                </tr>
              </thread>
                <tbody>

              </tbody>
            </table>
          </div>

    </body>
</html>
